<!DOCTYPE html>
<html>
    <head>
        <title>Conference</title>
        <link href="../static/styles.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
        <body> {
      background-color: lightgreen;
    }

    @media only screen and (max-width: 600px) {
      <body> {
        background-color: lightblue;
      }
    }
</style>
    </head>
    <body>
      <div class="header" style="background: #d1271b;">
        <h1>The Conference 1901/1902</h1>
      </div>
      <ul>
        <li><a href="index.html">Main</a></li>
        <li><a class="active" >The Conference 1901/1902</a></li>
        <li><a href="timeline.html">Timeline</a></li>
        <li><a href="impact.html">Impact</a></li>
      </ul>
      <div style="margin-left:25%;padding:1px 16px;height:50%;">
      <p>The sugar bounties had boosted production in Europe and consequently cost more money:</p>
      <table style="width:35%; margin-left: auto; margin-right: auto;"
      class="table table-bordered table-hover table-dark">
      <thead>
        <tr>
          <th scope="col" width=50%>Year</th>
          <th scope="col">Sugar Production worldwide (in tonnes)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1884/85</th>
          <td>2577</td>
        </tr>
        <tr>
          <th scope="row">1889/90</th>
          <td>3463</td>
        </tr>
        <tr>
          <th scope="row">1894/95</th>
          <td>4626</td>
        </tr>
        <tr>
          <th scope="row">1899/1900</th>
          <td>5489</td>
        </tr>
      </tbody>
      </table>
      </div>
      <div style="margin-left:25%;padding:1px 16px;height:50%;">
        <p>Countries taking part in the convention:</p>
        <ol id="a">
        <li>Austria Hungary</li>
        <li>Belgium</li>
        <li>France</li>
        <li>Germany</li>
        <li>Great Britain</li>
        <li>Netherlands</li>
      </ol>
      </div>

    </body>
</html>
