<!DOCTYPE html>
<html>
    <head>
        <title>Impact</title>
        <link href="../static/style.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
      <div class="header" style="background: #24e02e;">
        <h1 class="h1">The impact of the Convention</h1>
      </div>
      <ul>
        <li><a href="index.html">Main</a></li>
        <li><a href="conference.html" >The Conference 1901/1902</a></li>
        <li><a href="timeline.html">Timeline</a></li>
        <li><a class="active">Impact</a></li>
      </ul>
      <div class="row" style="margin-left:1%">
        <div class="col-sm-6" style="text-align: center; background-color: #fc8803;">Importers</div>
        <div class="col-sm-6" style="text-align: center; background-color: #fcf003">Exporters</div>
      </div>
      <div class="row" style="margin-left:1%; margin-top: 5px">
        <div class="col-sm-3" style="text-align: center; background-color: #73fc03">Countries: Great Britain</div>
        <div class="col-sm-3" style="text-align: center; background-color: #03fca5">Goals: Cheap Sugar and fair competition</div>
        <div class="col-sm-3" style="text-align: center; background-color: #036ffc">Countries: Austria-Hungary, Belgium, Germany, Netherlands, Russia</div>
        <div class="col-sm-3" style="text-align: center; background-color: #9003fc">Goals: Selling sugar, lower costs/no bounties</div>
      </div>
      <div class="jumbotron jumbotron-fluid" style="background-color: #dcbff2">
        <div class="container">
          <h1 class="display-4 h1">Results</h1>
          <p class="lead">The convention was short lived but it nevertheless accomplished what it was set out to do: stop the major European powers from increasing the sugar bounties.</p>
        </div>
      </div
    </body>
