<!DOCTYPE html>
<html>
    <head>
        <title>Brussels Sugar Convention</title>
        <link href="../static/styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
      <div class="header" style="background: #3455eb;">
        <h1 id="convention">The Brussels Sugar Convention</h1>
      </div>
      <ul>
        <li><a class="active">Main</a></li>
        <li><a href="conference.html">The Conference 1901/1902</a></li>
        <li><a href="timeline.html">Timeline</a></li>
        <li><a href="impact.html">Impact</a></li>
      </ul>
      <div style="margin-left:25%;padding:1px 16px;height:50%;">
        <p>The Brussels Sugar Convention was a contract between different
          European States at the beginning of the 20th century that regulated the
          international sugar market. The ultimate goal was to abolish sugar bounties
          which were paid to the industry and were expensive for the states.
          <a href="#section1">[1]</a></p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Europe_1914_Shepherd.jpg"
         alt="Map Europe 1914" height="20%" width="20%" class="center">
        <p> Source of the image<a href= "#section2">[2]</a></p>
        <p class="footnote" id="section2">[1] A great source for getting more info
           is Hans Jacobs: Die Brüsseler Zuckerkonvention</p>
        <p id="section1">[2] Source: William Robert Shepherd [Public domain] </p>
      </div>
    </body>
</html>
