<!DOCTYPE html>
<html>
    <head>
        <title>Timeline</title>
        <link href="../static/styles1.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
  <div class="header" style="background: #3455eb;">
    <h1 id="convention">Timeline</h1>
  </div>
  <ul>
    <li><a href="index.html">Main</a></li>
    <li><a href="conference.html">The Conference 1901/1902</a></li>
    <li><a class="active">Timeline</a></li>
    <li><a href="impact.html">Impact</a></li>
  </ul>
<div class="container mt-5 mb-5" style="margin-left:25%;padding:1px 16px;height:50%;">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>Timeline</h4>
			<ul class="timeline" style="width: 70%">
				<li>
					<a target="_blank">The Brussels Sugar Convention comes into force</a>
					<a class="float-right">1 September 1901</a>
					<p style="margin-left:5%;padding:1px">The convention becomes legally binding. In most parts of Europe sugar bounties are abolished. Because of the lower costs, many goverenments reduce taxes and consumption increases.</p>
				</li>
				<li>
					<a>Rising prices</a>
					<a class="float-right">1904</a>
					<p style="margin-left:5%;padding:1px">Bad harvests in Europe and around the globe increase sugar prices. In Great Britain critics accuse the Brussels Sugar Convention for rising costs.</p>
				</li>
				<li>
					<a >The convention changes</a>
					<a class="float-right">1906/07</a>
					<p style="margin-left:5%;padding:1px">The British government is no longer required to penalise bounty-fed sugar. Russia joins the convention under special conditions.</p>
				</li>
        <li>
					<a >The end of the convention</a>
					<a class="float-right">1912-14</a>
					<p style="margin-left:5%;padding:1px">The British government leaves the convention but the rest of the members remain. The First World War stops the international cooperation and the convention is completely abandoned during the war.</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="text-muted mt-5 mb-5 text-center small">by : <a class="text-muted" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div>

    </body>
</html>
